.login-main{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    padding: 30px;
    background: gray;
    border-radius: 10px;
}

.login-form{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
}

.login-form input{
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    cursor: text;
    scroll-behavior: smooth;
}

.login-container input, .login-form input::placeholder{
    color: inherit;
}

.password{
    position: relative;
}

.view-password{
    position: absolute;
    bottom: 3px;
    right: 0;
    color: black;
}

/* form btn  */
.fbtn{
    background-color: teal;
    border-radius: 10px;
    border: none;
    color: inherit;
    width: 100%;
    margin-top: 15px;
}
/* google btn  */
.gbtn{
    width: 100%;
    background-color: teal;
    border: none;
    color: inherit;
    border-radius: 10px;
}

.fbtn:hover, .gbtn:hover{
    background-color: rgb(39, 172, 158);
}