.video-main{
    padding: 10px 15px 0 55px;
    display: flex;
    gap: 24px;
}

.video-content{
    flex: 5;
    padding: 5px 0;
    padding-left: 35px;
}

.video-wrapper{
    margin-bottom: 10px;
    width: 100%;
}

.video-frame{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.video-title{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
}

.chanel-details{
    display: flex;
    gap: 12px;
    margin-right: 20px;
}

.chanel-details img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chanel-sub{
    margin-top: 3px;
    font-size: 12px;
}

.chanel-btns{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.right-btns{
    display: flex;
    gap: 8px;
}

.chanel-btn{
    color: white;
    background-color: gray;
    border: none;
    border-radius: 18px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.description{
    background-color: #494343db;
    padding: 10px;
    border-radius: 15px;
}

.description-top{
    display: flex;
    gap: 10px;
}

.description-top> p{
    display: flex;
    gap: 5px;
}

.recomendation{
    flex: 2;
}

@media only screen and (max-width: 1000px) {
    .video-content{
        flex: 7;
    }
    .chanel-btn{
        height: 35px;
    }
}
@media only screen and (max-width: 900px) {
    .chanel-info{
        width: max-content;
    }
    .video-main{
        flex-direction: column;
    }
    .recomendation{
        padding-left: 55px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 830px) {
    .recomendation{
        column-gap: 30px;
        row-gap: 15px;
    }
}
@media only screen and (max-width: 700px) {
    .video-frame{
        width: 90%;
        height: 300px;
    }
    .chanel-btn{
        padding: 5px 6px;
    }
    .description{
        padding: 10px 1px;
    }
}