.card-container{
    width: 380px;
    padding: 10px 0;
}

.card-container-trend{
    width: 800px;
}

.card-wrapper-trend{
    display: flex;
    gap: 40px;
}

.card-img-container{
    height: 255px;
    width: 360px;
    border: 0.1px dashed rgba(255, 255, 255, 0.129);
    border-radius: 20px;
    margin-bottom: 6px;
}

.card-img{
    height: 100%;
    width: 360px;
    object-fit: cover;
    border-radius: 20px;
}

.card-content{
    display: flex;
    gap: 12px;
}

.card-content-trend{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.channel-img{
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-radius: 50%;
}

.card-title{
    margin-bottom: 5px;
}

.card-desc{
    margin: 10px 0;
    font-size: 13px;
}

.card-video-details{
    display: flex;
    gap: 15px;
    font-size: 15px;
}

@media only screen and (max-width: 1300px) {
    .card-container, .card-img-container, .card-img{
        width: 300px;
    }
}

@media only screen and (max-width: 850px) {
    .card-container, .card-img-container, .card-img{
        width: 280px;
    }
    .card-img-container{
        height: 240px;
    }
    .card-details p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 750px) {
    .card-container, .card-img-container, .card-img{
        width: 250px;
    }
    .card-img-container{
        height: 220px;
    }
}

@media only screen and (max-width: 700px) {
    .card-container, .card-img-container, .card-img{
        width: 320px;
    }
    .card-img-container{
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .card-container, .card-img-container, .card-img{
        width: 300px;
    }
    .card-img-container{
        height: 240px;
    }
}

@media only screen and (max-width: 380px) {
    .card-container, .card-img-container, .card-img{
        width: 230px;
    }
    .card-img-container{
        height: 180px;
    }
    .card-details p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    .card-container-trend{
        width: 600px;
    }
}

@media only screen and (max-width: 750px) {
    .card-container-trend{
        width: 90%;
        gap: 10px;
    }
    .card-wrapper-trend{
        gap: 10px;
    }
    .card-desc{
        display: none;
    }
    .card-wrapper-trend .card-img-container{
        height: 210px;
        width: 260px;
    }
    .card-wrapper-trend .card-img{
        width: 260px;
        height: 100%;
    }
    .card-video-details{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .card-wrapper-trend{
        flex-direction: column;
        gap: 0;
        height: fit-content;
    }
    .card-video-details{
        flex-direction: row;
    }
    .card-content-trend{
        padding-top: 5px ;
    }
}