.comments-container{
    padding-bottom: 20px;
}

.video-comment-info{
    margin: 20px 0;
    display: flex;
    gap: 30px;
    align-items: center;
}

/* .all-comments{
    display: flex;
    flex-direction: column;
    width: 100%;
} */

@media only screen and (max-width: 900px) {
    .comments-container{
        padding-bottom: 0px;
    }

    .video-comment-info{
        margin: 10px 0;
    }
}