@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.right-container{
  flex: 6;
}

.hr{
  margin: 7.5px 0;
  border: 0.2px solid #373737b8;
}

.btn{
  padding: 6px 12px;
  cursor: pointer;
}